@use "../abstract/variables"

header
  padding: 2px 2px 0
  height: variables.$window-header-height

  display: flex
  align-items: center
  justify-content: space-between
  column-gap: 10px

  background-color: variables.$header-bgc
  color: #ced0d6

  border-radius: 10px 10px 0 0

  z-index: 9999

  cursor: grabbing

  .tabs
    width: 100%
    max-width: 500px
    display: flex
    align-items: end
    justify-content: space-between

    cursor: initial

    .tab
      flex: 1 1 auto
      height: 23px
      max-width: 150px

      display: flex
      align-items: center
      justify-content: center

      color: white
      font-size: 14px
      cursor: pointer

      &:hover,
      &.active
        background-color: rgba(100, 104, 107, 0.44)
        border-radius: 10px 10px 0 0

  .window-name
    white-space: nowrap
    margin: 0 auto


  .buttons
    padding-right: 3px
    font-size: 15px

    display: flex
    align-items: center
    column-gap: 10px

    position: relative

    cursor: initial

    .button
      color: white
      //color: #ced0d6
      cursor: pointer

      &.fa-window-minimize
        transform: translateY(-6px) scaleX(0.9)

    .show-more-windows
      width: 15px
      text-align: center

    .more-windows
      display: flex
      column-gap: 10px

    .window-actions
      margin-left: 15px
      white-space: nowrap

      .button
        //color: #8c8c8c
        color: #ced0d6

@media (max-width: 450px)
  header
    position: relative

    flex-direction: row-reverse

    .tabs
      position: fixed
      top: variables.$window-header-height
      left: 0
      bottom: 0
      width: variables.$window-header-height
      background-color: variables.$header-bgc

      flex-direction: column !important

      .tab
        writing-mode: vertical-lr
        width: 23px
        transform: rotate(180deg)

        max-height: 150px

        &:hover,
        &.active
          border-radius: 0 10px 10px 0

    .window-name
      position: absolute
      left: 50%
      top: 50%

      transform: translate(-50%, -50%)


  main
    padding-left: calc(2px - #{variables.$window-header-height})

@media (max-width: 560px)
  header

    .show-more-windows
      display: block

    .more-windows
      position: absolute
      top: 100%
      right: 50px

      flex-direction: column
      align-items: flex-start

      background-color: variables.$header-bgc

      opacity: 0
      visibility: hidden
      transform: translateY(5%)

      transition: opacity 0.3s ease, transform 0.3s ease

      &.active
        opacity: 1
        visibility: visible
        transform: translateY(0%)

      .button
        display: flex
        align-items: center
        column-gap: 3px

        width: 100%

        padding: 0.3rem 0.5rem

        &.with-label:hover
          background-color: rgba(100, 104, 107, 0.44)

        .name
          display: inline-block

    .window-actions
      margin-left: 0 !important

@media (min-width: 561px)
  header
    .show-more-windows
      display: none

    .more-windows
      align-items: center

      .button
        &:hover
          color: red

        .name
          display: none

    .window-actions
      margin-left: 0 !important
