@use "../abstract/variables"
@use "./typography"

*
  margin: 0
  padding: 0
  box-sizing: border-box

a
  color: inherit
  text-decoration: none

  &.link
    color: variables.$link-color

ul, ol
  padding-left: 30px

.img
  img
    width: 100%

body
  font-family: 'Comfortaa', sans-serif

  min-height: 100vh
  max-height: 100vh
  display: flex
  flex-direction: column

  color: variables.$main-color

main
  flex: 1 1 auto

  border-bottom: 2px solid variables.$body-bgc
  border-right: 2px solid variables.$body-bgc
  border-left: 2px solid variables.$body-bgc

  background-color: variables.$main-bgc
